$holiday-color: #2E9AFE;
$day-names-bg-color: #D8D8D8;

.container {
  margin: 24px;
  display: flex;
  flex-direction: column;
  & > :not(:last-child) {
    margin-bottom: 16px;
  }
}

.months {
  display: flex;
  flex-wrap: wrap;
}

.month {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
  padding: 8px;

  & .label {
    font-weight: bold;
    color: darken($holiday-color, 30);
    margin-bottom: 8px;
  }
}

.day-names {
  border-radius: 3px;
  display: flex;
  background: $day-names-bg-color;
  color: darken($day-names-bg-color, 30);
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 28px;

  &.number {
    cursor: pointer;
    font-weight: 500;
    user-select: none;

    &:hover {
      background: red;
      border-radius: 5px;
    }

    &.holiday {
      color: $holiday-color;
    }
  }
}

.navbar {
  display: flex;

  align-items: center;
  justify-content: center;

  & .title {
    font-size: 24px;
    font-weight: bold;
    padding-right: 16px;
  }
}